<div>
    <!-- <h2>Current Location on Map</h2> -->
    <nav>
        <ul>
            <li><a routerLink="/get-location" routerLinkActive="active">Load Current Location</a></li>
            <li><a routerLink="/preview-location" routerLinkActive="active">Preview Map</a></li>
        </ul>
    </nav>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>

    <!-- <div class="full-map" id='map'></div>
    Selected Location
    <p class="" id='place_name'></p>

    <h6 class="" id='place_keys'>Key Names</h6>
    <p class="" id='place_keys'></p>
    <button value="Encode" (click)="codeAddress()">Encode Location Details</button> -->
</div>